body {
    background-color:#cce6ff;
}

p{
    font-family: 'Kufam', cursive;
}

li{
    font-family: 'Kufam', cursive;
}

h1{
    font-family: 'Grandstander', cursive;
}

h3{
    font-family: 'Grandstander', cursive;
}